<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to register</p>

    <form method='post'>
      用户名：<input type="text" id="userName" name="email" />
      密码：<input type="password" id="yserPwd" name="password" />
      <input type="submit" value="提交">
    </form>
  </body>
</html>
